<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087371105104-ac6gf52s08k3hb3djbf0j2r8b3micfam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087371105104-ac6gf52s08k3hb3djbf0j2r8b3micfam</string>
	<key>API_KEY</key>
	<string>AIzaSyDLWZzroV9nbvU-8AkBBfG0cSo_NBHpO4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1087371105104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bignerdranch.DoggyPlaydate</string>
	<key>PROJECT_ID</key>
	<string>doggy-playdate-cc025</string>
	<key>STORAGE_BUCKET</key>
	<string>doggy-playdate-cc025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087371105104:ios:0ce7b524a2617106af5255</string>
</dict>
</plist>